<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>About</title>

<!-- Corrected Bootstrap CSS CDN -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body th:replace="~{user/userBase::body(~{::section})}">
	<!--header-->
	<section>
	<div class="card mr-3 ml-3">
	<div class="card-body">
	<div class="container text-center">
	<img style="height:200px; width:200px;" class ="logo" th:src="@{'/image/'+${contact.imageUrl}}" alt="img">
	<h3 th:text="${contact.name}"></h3> 
	<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">C.Id</th>
      <th scope="col" th:text="${contact.cId}"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" >Email</th>
      <td >
      <span th:text="${contact.email}"></span>
      </td>
    </tr>
     <tr>
      <th scope="row" >Phone</th>
      <td >
      <span th:text="${contact.phone}"></span>
      </td>
    </tr>
     <tr>
      <th scope="row" >Work</th>
      <td >
      <span th:text="${contact.work}"></span>
      </td>
    </tr>
  </tbody>
</table>
<div class="mb-3">
      <th:block style=" margin:10px;" th:utext="${contact.description}"> </th:block>
     </div>
      <div class="container">
      <a th:href="@{'/user/delete/'+${contact.cId}}" class="btn btn-danger action-btn">Delete</a>
      <form th:action="@{'/user/update/'+${contact.cId}}" method="post">
      <button type="submit" class="btn btn-info action-btn">Update</button>
      </form>
      </div>
	</div>
	</div>
	</div>
	
		<!--  JQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- Popper.js (must be included before Bootstrap JS) -->
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>

		<!-- Corrected Bootstrap JS CDN -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script th:src="@{/JS/script1.js}"></script>

	</section>
</body>
</html>